<RadzenTemplateForm TItem="Model" Data="_model" Submit="Add">
    <RadzenFormField Text="Character name" class="rz-w-100">
        <RadzenTextBox Name="CharacterName" @bind-Value="@_model.Name" class="rz-w-100"/>
        <RadzenDataAnnotationValidator Component="CharacterName" />
        <RadzenCustomValidator Component="CharacterName" Validator="NoDuplicatesAllowed" Text="Character name must be unique" />
    </RadzenFormField>

    <div style="margin-top: 20px;">
        <RadzenButton Text="Add" ButtonType="ButtonType.Submit" />
        <RadzenButton Text="Cancel" ButtonType="ButtonType.Button" Click="Cancel" />
    </div>
</RadzenTemplateForm>